@{
    ViewBag.Title = "Success";
}

<h2>Student Registered Successfully!</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Register", "Students")">Register Another Student</a>

</p>

<p>
    <a class="btn btn-success" href="@Url.Action("Index", "Students")">View Registered Students</a>
</p>


